pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "CopyProyectoToSnoflake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_SilverToGolden",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "mc2-bs-golden/[object Object]/[object Object]"
					},
					{
						"name": "Destination",
						"value": "PUBLIC.MC2_PROYECTO"
					}
				],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SnowflakeSink",
						"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_PROYECTO\";",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorageForSnowflake",
							"type": "LinkedServiceReference"
						},
						"path": "mc2-bs-golden/StoragePath"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "mc2_cliente_gestion_nombre_pr",
									"type": "String"
								},
								"sink": {
									"name": "mc2_cliente_gestion_nombre_pr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_proyectoid",
									"type": "String"
								},
								"sink": {
									"name": "mc2_proyectoid",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_tipificacionname",
									"type": "String"
								},
								"sink": {
									"name": "mc2_tipificacionname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "owningbusinessunit",
									"type": "String"
								},
								"sink": {
									"name": "owningbusinessunit",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "owninguser",
									"type": "String"
								},
								"sink": {
									"name": "owninguser",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "statecode",
									"type": "Int32"
								},
								"sink": {
									"name": "statecode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_cliente_facturacion_nombre_pr",
									"type": "String"
								},
								"sink": {
									"name": "mc2_cliente_facturacion_nombre_pr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdby",
									"type": "String"
								},
								"sink": {
									"name": "createdby",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdonbehalfby",
									"type": "String"
								},
								"sink": {
									"name": "createdonbehalfby",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_despcripcion_proyecto",
									"type": "String"
								},
								"sink": {
									"name": "mc2_despcripcion_proyecto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "utcconversiontimezonecode",
									"type": "Int32"
								},
								"sink": {
									"name": "utcconversiontimezonecode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "importsequencenumber",
									"type": "Int32"
								},
								"sink": {
									"name": "importsequencenumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_fecha_fin_ap_proyecto",
									"type": "DateTime"
								},
								"sink": {
									"name": "mc2_fecha_fin_ap_proyecto",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "mc2_importe_total",
									"type": "Decimal"
								},
								"sink": {
									"name": "mc2_importe_total",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_margen_total",
									"type": "String"
								},
								"sink": {
									"name": "mc2_margen_total",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_sociedadname",
									"type": "String"
								},
								"sink": {
									"name": "mc2_sociedadname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "modifiedonbehalfby",
									"type": "String"
								},
								"sink": {
									"name": "modifiedonbehalfby",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_fecha_inicio_ap_proyecto",
									"type": "DateTime"
								},
								"sink": {
									"name": "mc2_fecha_inicio_ap_proyecto",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "mc2_perfil",
									"type": "String"
								},
								"sink": {
									"name": "mc2_perfil",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_texto_explicativo",
									"type": "String"
								},
								"sink": {
									"name": "mc2_texto_explicativo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "owneridname",
									"type": "String"
								},
								"sink": {
									"name": "owneridname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_cliente_gestion_id_prname",
									"type": "String"
								},
								"sink": {
									"name": "mc2_cliente_gestion_id_prname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_sociedad",
									"type": "String"
								},
								"sink": {
									"name": "mc2_sociedad",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "modifiedbyname",
									"type": "String"
								},
								"sink": {
									"name": "modifiedbyname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "owningbusinessunitname",
									"type": "String"
								},
								"sink": {
									"name": "owningbusinessunitname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_cliente_facturacion_id_pr",
									"type": "String"
								},
								"sink": {
									"name": "mc2_cliente_facturacion_id_pr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_cliente_facturacion_id_prname",
									"type": "String"
								},
								"sink": {
									"name": "mc2_cliente_facturacion_id_prname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_cliente_gestion_id_pr",
									"type": "String"
								},
								"sink": {
									"name": "mc2_cliente_gestion_id_pr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_moneda_proyecto",
									"type": "String"
								},
								"sink": {
									"name": "mc2_moneda_proyecto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_moneda_proyectoname",
									"type": "String"
								},
								"sink": {
									"name": "mc2_moneda_proyectoname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_numero_pedidos",
									"type": "String"
								},
								"sink": {
									"name": "mc2_numero_pedidos",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "owneridtype",
									"type": "String"
								},
								"sink": {
									"name": "owneridtype",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ownerid",
									"type": "String"
								},
								"sink": {
									"name": "ownerid",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "modifiedonbehalfbyname",
									"type": "String"
								},
								"sink": {
									"name": "modifiedonbehalfbyname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdbyname",
									"type": "String"
								},
								"sink": {
									"name": "createdbyname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_ap_proyecto",
									"type": "String"
								},
								"sink": {
									"name": "mc2_ap_proyecto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_codigo_proyecto",
									"type": "String"
								},
								"sink": {
									"name": "mc2_codigo_proyecto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_tipificacion",
									"type": "String"
								},
								"sink": {
									"name": "mc2_tipificacion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "owningteam",
									"type": "String"
								},
								"sink": {
									"name": "owningteam",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "modifiedonbehalfbyyominame",
									"type": "String"
								},
								"sink": {
									"name": "modifiedonbehalfbyyominame",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "owneridyominame",
									"type": "String"
								},
								"sink": {
									"name": "owneridyominame",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "modifiedbyyominame",
									"type": "String"
								},
								"sink": {
									"name": "modifiedbyyominame",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "timezoneruleversionnumber",
									"type": "Int32"
								},
								"sink": {
									"name": "timezoneruleversionnumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdonbehalfbyname",
									"type": "String"
								},
								"sink": {
									"name": "createdonbehalfbyname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_cliente_facturacion_cif_pr",
									"type": "String"
								},
								"sink": {
									"name": "mc2_cliente_facturacion_cif_pr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_responsable_proyectoname",
									"type": "String"
								},
								"sink": {
									"name": "mc2_responsable_proyectoname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "modifiedby",
									"type": "String"
								},
								"sink": {
									"name": "modifiedby",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdbyyominame",
									"type": "String"
								},
								"sink": {
									"name": "createdbyyominame",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_perfilname",
									"type": "String"
								},
								"sink": {
									"name": "mc2_perfilname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "createdonbehalfbyyominame",
									"type": "String"
								},
								"sink": {
									"name": "createdonbehalfbyyominame",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_cliente_gestion_cif_pr",
									"type": "String"
								},
								"sink": {
									"name": "mc2_cliente_gestion_cif_pr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mc2_responsable_proyecto",
									"type": "String"
								},
								"sink": {
									"name": "mc2_responsable_proyecto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "versionnumber",
									"type": "Int64"
								},
								"sink": {
									"name": "versionnumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "overriddencreatedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "overriddencreatedon",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SourceProyectoToSnoflake",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Snowflake_MC2_PROYECTO",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CopyMaestrasToBronce",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{item().source.entityName}"
					},
					{
						"name": "Destination",
						"value": "mc2-bs-bronze/@{formatDatetime(utcnow(),'yyy')}/@{formatDatetime(utcnow(),'MM')}/@{item().destination.fileName}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "SourceMaestras",
						"type": "DatasetReference",
						"parameters": {
							"cw_entityName": "@item().source.entityName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationMaestrasBronce",
						"type": "DatasetReference",
						"parameters": {
							"cw_fileName_Maestras": "@item().destination.fileName"
						}
					}
				]
			},
			{
				"name": "CopyBronceToSilver",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CopyMaestrasToBronce",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "mc2-bs-bronze/@{formatDatetime(utcnow(),'yyy')}/@{formatDatetime(utcnow(),'MM')}/@concat(formatDatetime(utcnow(),'yyyMMdd'),'-',dataset().cw_fileName)"
					},
					{
						"name": "Destination",
						"value": "mc2-bs-silver/@{formatDatetime(utcnow(),'yyy')}/@{formatDatetime(utcnow(),'MM')}/@concat(formatDatetime(utcnow(),'yyyMMdd'),'-',dataset().cw_fileName)"
					}
				],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "SourceBronce",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationSilver",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_SilverToGolden",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CopyBronceToSilver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "mc2-bs-silver/@{formatDatetime(utcnow(),'yyy')}/@{formatDatetime(utcnow(),'MM')}/@concat(formatDatetime(utcnow(),'yyyMMdd'),'-',dataset().cw_fileName)"
					},
					{
						"name": "Destination",
						"value": "mc2-bs-golden/@{formatDatetime(utcnow(),'yyy')}/@{formatDatetime(utcnow(),'MM')}/@concat(formatDatetime(utcnow(),'yyyMMdd'),'-',dataset().cw_fileName)"
					}
				],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "SourceSilver",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationGolden",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"cw_items_Maestras": {
				"type": "array",
				"defaultValue": [
					{
						"destination": {
							"fileName": "mc2_pedido.csv"
						},
						"source": {
							"entityName": "mc2_pedido"
						}
					}
				]
			}
		},
		"annotations": []
	}
}