MC2Factory/PartialArmTemplates/ArmTemplate_10_14_2021_11_52_56.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "MC2Factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromBronceToSilver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromBronceToSilver",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-bronze//"
							},
							{
								"name": "Destination",
								"value": "mc2-bs-dev-silver//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDatasetBronce",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDatasetSilver",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Sources/CopyFromBronceToSilver"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/SourceDatasetBronce')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDatasetSilver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromSilverToGolden')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromSilverToGolden",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-silver//"
							},
							{
								"name": "Destination",
								"value": "mc2-bs-dev-golden//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDatasetSilver",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDatasetGolden",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Sources/CopyFromSilverToGolden"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/SourceDatasetSilver')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDatasetGolden')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyPrincipalesMC2ToBronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyPrincipalesMC2ToBronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"cw_itemsPrincipales": {
									"value": "@pipeline().parameters.cw_itemsPrincipales",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyMaestrasMC2ToBronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyMaestrasMC2ToBronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"cw_items": {
									"value": "@pipeline().parameters.cw_items",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyFromBronceToSilver",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyPrincipalesMC2ToBronce",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyMaestrasMC2ToBronce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyFromBronceToSilver",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "CopyFromSilverToGolden",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyFromBronceToSilver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyFromSilverToGolden",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"parameters": {
					"cw_items": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"entityName": "mc2_maestro_ceco"
								},
								"destination": {
									"fileName": "mc2_maestro_ceco.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_perfil"
								},
								"destination": {
									"fileName": "mc2_maestro_perfil.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_sociedad"
								},
								"destination": {
									"fileName": "mc2_maestro_sociedad.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_tramitador"
								},
								"destination": {
									"fileName": "mc2_maestro_tramitador.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_ambito"
								},
								"destination": {
									"fileName": "mc2_maestro_ambito.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cebe"
								},
								"destination": {
									"fileName": "mc2_maestro_cebe.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cliente_facturacion"
								},
								"destination": {
									"fileName": "mc2_maestro_cliente_facturacion.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cliente_gestion"
								},
								"destination": {
									"fileName": "mc2_maestro_cliente_gestion.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_coste"
								},
								"destination": {
									"fileName": "mc2_maestro_coste.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_costes_formula"
								},
								"destination": {
									"fileName": "mc2_maestro_costes_formula.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_estado_compras"
								},
								"destination": {
									"fileName": "mc2_maestro_estado_compras.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_estado_pedido"
								},
								"destination": {
									"fileName": "mc2_maestro_estado_pedido.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_familia"
								},
								"destination": {
									"fileName": "mc2_maestro_familia.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_fase"
								},
								"destination": {
									"fileName": "mc2_maestro_fase.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_jefe_de_proyecto"
								},
								"destination": {
									"fileName": "mc2_maestro_jefe_de_proyecto.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_lineapep"
								},
								"destination": {
									"fileName": "mc2_maestro_lineapep.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_monedas"
								},
								"destination": {
									"fileName": "mc2_maestro_monedas.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_naturaleza_utm"
								},
								"destination": {
									"fileName": "mc2_maestro_naturaleza_utm.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_perfil_presupuesto"
								},
								"destination": {
									"fileName": "mc2_maestro_perfil_presupuesto.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_planificacion"
								},
								"destination": {
									"fileName": "mc2_maestro_planificacion.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_plazo_utm"
								},
								"destination": {
									"fileName": "mc2_maestro_plazo_utm.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_prioridad"
								},
								"destination": {
									"fileName": "mc2_maestro_prioridad.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_producto"
								},
								"destination": {
									"fileName": "mc2_maestro_producto.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_tipificacion"
								},
								"destination": {
									"fileName": "mc2_maestro_tipificacion.txt"
								}
							}
						]
					},
					"cw_itemsPrincipales": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"entityName": "mc2_comentarios_pedidos"
								},
								"destination": {
									"fileName": "mc2_comentarios_pedidos.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_elemento_pep"
								},
								"destination": {
									"fileName": "mc2_elemento_pep.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_lineas_adquira"
								},
								"destination": {
									"fileName": "mc2_lineas_adquira.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_pedido"
								},
								"destination": {
									"fileName": "mc2_pedido.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_planificacion"
								},
								"destination": {
									"fileName": "mc2_planificacion.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_proyecto"
								},
								"destination": {
									"fileName": "mc2_proyecto.txt"
								}
							}
						]
					}
				},
				"folder": {
					"name": "Main"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/pipelines/CopyFromBronceToSilver')]",
				"[concat(variables('factoryId'), '/pipelines/CopyFromSilverToGolden')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_MaestrasBronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DatasetDestinos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"fileSystem": "mc2-bs-dev-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_PrincipalesBronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DatasetDestinos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"fileSystem": "mc2-bs-dev-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDatasetSilver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DatasetDestinos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mc2-bs-dev-silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDatasetGolden')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DatasetDestinos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mc2-bs-dev-golden"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDatasetSilver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DatasetSources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mc2-bs-dev-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_MaestrasDataverse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MC2Dataverse",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_entityName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DatasetSources"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": {
						"value": "@dataset().cw_entityName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_PrincipalesDataverse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MC2Dataverse",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_entityName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DatasetSources"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": {
						"value": "@dataset().cw_entityName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDatasetBronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DatasetSources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mc2-bs-dev-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		}
	]
}