MC2Factory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "MC2Factory"
		},
		"AzureDataLakeStorageGen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorageGen2'"
		},
		"AzureTableStoragePrueba_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureTableStoragePrueba'"
		},
		"MC2Dataverse_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'MC2Dataverse'"
		},
		"AzureDataLakeStorageGen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mc2datalake.dfs.core.windows.net"
		},
		"MC2AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvMC2.vault.azure.net/"
		},
		"MC2Dataverse_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "f16b031b-29a7-4264-8271-f2844c7b7084"
		},
		"Snowflake1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Snowflake1'"
		},
		"linkedService1_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'linkedService1'"
		},
		"dataFactory_location": {
			"type": "string",
			"defaultValue": "northeurope"
		},
		"dataFactory_identity_type": {
			"type": "string",
			"defaultValue": "SystemAssigned"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromBronceToSilver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromBronceToSilver",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-bronze//"
							},
							{
								"name": "Destination",
								"value": "mc2-bs-dev-silver//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDatasetBronce",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDatasetSilver",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Sources/CopyFromBronceToSilver"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/SourceDatasetBronce')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDatasetSilver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromSilverToGolden')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromSilverToGolden",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-silver//"
							},
							{
								"name": "Destination",
								"value": "mc2-bs-dev-golden//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDatasetSilver",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDatasetGolden",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Sources/CopyFromSilverToGolden"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/SourceDatasetSilver')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDatasetGolden')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyMaestrasMC2ToBronce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copia las tablas maestras del dataverse a la capa Bronce",
				"activities": [
					{
						"name": "ForEach_Maestras",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_Maestras",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().source.entityName}"
										},
										{
											"name": "Destination",
											"value": "mc2-bs-dev-bronze//@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "CommonDataServiceForAppsSource"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_MaestrasDataverse",
											"type": "DatasetReference",
											"parameters": {
												"cw_entityName": "@item().source.entityName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_MaestrasBronce",
											"type": "DatasetReference",
											"parameters": {
												"cw_fileName": "@item().destination.fileName"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"entityName": "mc2_maestro_ceco"
								},
								"destination": {
									"fileName": "mc2_maestro_ceco.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_perfil"
								},
								"destination": {
									"fileName": "mc2_maestro_perfil.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_sociedad"
								},
								"destination": {
									"fileName": "mc2_maestro_sociedad.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_tramitador"
								},
								"destination": {
									"fileName": "mc2_maestro_tramitador.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_ambito"
								},
								"destination": {
									"fileName": "mc2_maestro_ambito.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cebe"
								},
								"destination": {
									"fileName": "mc2_maestro_cebe.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cliente_facturacion"
								},
								"destination": {
									"fileName": "mc2_maestro_cliente_facturacion.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cliente_gestion"
								},
								"destination": {
									"fileName": "mc2_maestro_cliente_gestion.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_coste"
								},
								"destination": {
									"fileName": "mc2_maestro_coste.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_costes_formula"
								},
								"destination": {
									"fileName": "mc2_maestro_costes_formula.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_estado_compras"
								},
								"destination": {
									"fileName": "mc2_maestro_estado_compras.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_estado_pedido"
								},
								"destination": {
									"fileName": "mc2_maestro_estado_pedido.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_familia"
								},
								"destination": {
									"fileName": "mc2_maestro_familia.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_fase"
								},
								"destination": {
									"fileName": "mc2_maestro_fase.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_jefe_de_proyecto"
								},
								"destination": {
									"fileName": "mc2_maestro_jefe_de_proyecto.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_lineapep"
								},
								"destination": {
									"fileName": "mc2_maestro_lineapep.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_monedas"
								},
								"destination": {
									"fileName": "mc2_maestro_monedas.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_naturaleza_utm"
								},
								"destination": {
									"fileName": "mc2_maestro_naturaleza_utm.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_perfil_presupuesto"
								},
								"destination": {
									"fileName": "mc2_maestro_perfil_presupuesto.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_planificacion"
								},
								"destination": {
									"fileName": "mc2_maestro_planificacion.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_plazo_utm"
								},
								"destination": {
									"fileName": "mc2_maestro_plazo_utm.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_prioridad"
								},
								"destination": {
									"fileName": "mc2_maestro_prioridad.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_producto"
								},
								"destination": {
									"fileName": "mc2_maestro_producto.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_tipificacion"
								},
								"destination": {
									"fileName": "mc2_maestro_tipificacion.txt"
								}
							}
						]
					}
				},
				"folder": {
					"name": "Sources/CopyFromMC2ToDataLakeBronce"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_MaestrasDataverse')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_MaestrasBronce')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_pou')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_pou",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-golden//20211015-mc2_elemento_pep.txt"
							},
							{
								"name": "Destination",
								"value": "INFORMATION_SCHEMA.TABLES"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "TABLE_CATALOG",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "TABLE_SCHEMA",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "TABLE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "TABLE_OWNER",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "TABLE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "IS_TRANSIENT",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "CLUSTERING_KEY",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "ROW_COUNT",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "BYTES",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "RETENTION_TIME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "SELF_REFERENCING_COLUMN_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "REFERENCE_GENERATION",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "USER_DEFINED_TYPE_CATALOG",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "USER_DEFINED_TYPE_SCHEMA",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "USER_DEFINED_TYPE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "IS_INSERTABLE_INTO",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "IS_TYPED",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "COMMIT_ACTION",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "CREATED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 20
										},
										"sink": {
											"name": "LAST_ALTERED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 21
										},
										"sink": {
											"name": "AUTO_CLUSTERING_ON",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 22
										},
										"sink": {
											"name": "COMMENT",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_pou",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_pou",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_pou')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_pou')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPrincipalesMC2ToBronce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copia las 6 tablas principales del dataverse a la capa bronce",
				"activities": [
					{
						"name": "ForEach_Principales",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_itemsPrincipales",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_principales",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().source.entityName}"
										},
										{
											"name": "Destination",
											"value": "mc2-bs-dev-bronze//@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "CommonDataServiceForAppsSource"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_PrincipalesDataverse",
											"type": "DatasetReference",
											"parameters": {
												"cw_entityName": "@item().source.entityName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_PrincipalesBronce",
											"type": "DatasetReference",
											"parameters": {
												"cw_fileName": "@item().destination.fileName"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_itemsPrincipales": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"entityName": "mc2_comentarios_pedidos"
								},
								"destination": {
									"fileName": "mc2_comentarios_pedidos.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_elemento_pep"
								},
								"destination": {
									"fileName": "mc2_elemento_pep.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_lineas_adquira"
								},
								"destination": {
									"fileName": "mc2_lineas_adquira.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_pedido"
								},
								"destination": {
									"fileName": "mc2_pedido.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_planificacion"
								},
								"destination": {
									"fileName": "mc2_planificacion.txt"
								}
							},
							{
								"source": {
									"entityName": "mc2_proyecto"
								},
								"destination": {
									"fileName": "mc2_proyecto.txt"
								}
							}
						]
					}
				},
				"folder": {
					"name": "Sources/CopyFromMC2ToDataLakeBronce"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_PrincipalesDataverse')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_PrincipalesBronce')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDatasetGolden')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DatasetDestinos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mc2-bs-dev-golden"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDatasetSilver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DatasetDestinos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mc2-bs-dev-silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_MaestrasBronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DatasetDestinos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(formatDatetime(utcnow(),'ddMMyyy'),'-',dataset().cw_fileName)",
							"type": "Expression"
						},
						"fileSystem": "mc2-bs-dev-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_PrincipalesBronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DatasetDestinos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(formatDatetime(utcnow(),'yyyMMdd'),'-',dataset().cw_fileName)",
							"type": "Expression"
						},
						"fileSystem": "mc2-bs-dev-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_pou')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "TABLE_CATALOG",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "TABLE_SCHEMA",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "TABLE_NAME",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "TABLE_OWNER",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "TABLE_TYPE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "IS_TRANSIENT",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CLUSTERING_KEY",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ROW_COUNT",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "BYTES",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "RETENTION_TIME",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "SELF_REFERENCING_COLUMN_NAME",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "REFERENCE_GENERATION",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "USER_DEFINED_TYPE_CATALOG",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "USER_DEFINED_TYPE_SCHEMA",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "USER_DEFINED_TYPE_NAME",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "IS_INSERTABLE_INTO",
						"type": "VARCHAR",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "IS_TYPED",
						"type": "VARCHAR",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "COMMIT_ACTION",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CREATED",
						"type": "TIMESTAMP_LTZ",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_ALTERED",
						"type": "TIMESTAMP_LTZ",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "AUTO_CLUSTERING_ON",
						"type": "VARCHAR",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "COMMENT",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "INFORMATION_SCHEMA",
					"table": "TABLES"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/Snowflake1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDatasetBronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DatasetSources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mc2-bs-dev-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDatasetSilver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DatasetSources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mc2-bs-dev-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_MaestrasDataverse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MC2Dataverse",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_entityName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DatasetSources"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": {
						"value": "@dataset().cw_entityName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/MC2Dataverse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_PrincipalesDataverse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MC2Dataverse",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_entityName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DatasetSources"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": {
						"value": "@dataset().cw_entityName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/MC2Dataverse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_pou')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "20211015-mc2_elemento_pep.txt",
						"fileSystem": "mc2-bs-dev-golden"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageGen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageGen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorageGen2_accountKey')]"
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureTableStoragePrueba')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureTableStoragePrueba_connectionString')]"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MC2AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('MC2AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MC2Dataverse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://org165dc190.crm4.dynamics.com/",
					"authenticationType": "AADServicePrincipal",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalId": "[parameters('MC2Dataverse_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('MC2Dataverse_servicePrincipalCredential')]"
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"connectionString": "[parameters('Snowflake1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('linkedService1_sasUri')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "North Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 16,
							"timeToLive": 0,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyPrincipalesMC2ToBronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyPrincipalesMC2ToBronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"cw_itemsPrincipales": {
									"value": "@pipeline().parameters.cw_itemsPrincipales",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyMaestrasMC2ToBronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyMaestrasMC2ToBronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"cw_items": {
									"value": "@pipeline().parameters.cw_items",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyFromBronceToSilver",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyPrincipalesMC2ToBronce",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyMaestrasMC2ToBronce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyFromBronceToSilver",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyFromSilverToGolden",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyFromBronceToSilver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyFromSilverToGolden",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_items": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"entityName": "mc2_maestro_ceco"
								},
								"destination": {
									"fileName": "mc2_maestro_ceco.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_perfil"
								},
								"destination": {
									"fileName": "mc2_maestro_perfil.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_sociedad"
								},
								"destination": {
									"fileName": "mc2_maestro_sociedad.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_tramitador"
								},
								"destination": {
									"fileName": "mc2_maestro_tramitador.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_ambito"
								},
								"destination": {
									"fileName": "mc2_maestro_ambito.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cebe"
								},
								"destination": {
									"fileName": "mc2_maestro_cebe.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cliente_facturacion"
								},
								"destination": {
									"fileName": "mc2_maestro_cliente_facturacion.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cliente_gestion"
								},
								"destination": {
									"fileName": "mc2_maestro_cliente_gestion.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_coste"
								},
								"destination": {
									"fileName": "mc2_maestro_coste.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_costes_formula"
								},
								"destination": {
									"fileName": "mc2_maestro_costes_formula.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_estado_compras"
								},
								"destination": {
									"fileName": "mc2_maestro_estado_compras.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_estado_pedido"
								},
								"destination": {
									"fileName": "mc2_maestro_estado_pedido.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_familia"
								},
								"destination": {
									"fileName": "mc2_maestro_familia.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_fase"
								},
								"destination": {
									"fileName": "mc2_maestro_fase.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_jefe_de_proyecto"
								},
								"destination": {
									"fileName": "mc2_maestro_jefe_de_proyecto.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_lineapep"
								},
								"destination": {
									"fileName": "mc2_maestro_lineapep.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_monedas"
								},
								"destination": {
									"fileName": "mc2_maestro_monedas.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_naturaleza_utm"
								},
								"destination": {
									"fileName": "mc2_maestro_naturaleza_utm.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_perfil_presupuesto"
								},
								"destination": {
									"fileName": "mc2_maestro_perfil_presupuesto.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_planificacion"
								},
								"destination": {
									"fileName": "mc2_maestro_planificacion.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_plazo_utm"
								},
								"destination": {
									"fileName": "mc2_maestro_plazo_utm.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_prioridad"
								},
								"destination": {
									"fileName": "mc2_maestro_prioridad.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_producto"
								},
								"destination": {
									"fileName": "mc2_maestro_producto.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_tipificacion"
								},
								"destination": {
									"fileName": "mc2_maestro_tipificacion.csv"
								}
							}
						]
					},
					"cw_itemsPrincipales": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"entityName": "mc2_comentarios_pedidos"
								},
								"destination": {
									"fileName": "mc2_comentarios_pedidos.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_elemento_pep"
								},
								"destination": {
									"fileName": "mc2_elemento_pep.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_lineas_adquira"
								},
								"destination": {
									"fileName": "mc2_lineas_adquira.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_pedido"
								},
								"destination": {
									"fileName": "mc2_pedido.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_planificacion"
								},
								"destination": {
									"fileName": "mc2_planificacion.csv"
								}
							},
							{
								"source": {
									"entityName": "mc2_proyecto"
								},
								"destination": {
									"fileName": "mc2_proyecto.csv"
								}
							}
						]
					}
				},
				"folder": {
					"name": "Main"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPrincipalesMC2ToBronce')]",
				"[concat(variables('factoryId'), '/pipelines/CopyMaestrasMC2ToBronce')]",
				"[concat(variables('factoryId'), '/pipelines/CopyFromBronceToSilver')]",
				"[concat(variables('factoryId'), '/pipelines/CopyFromSilverToGolden')]"
			]
		},
		{
			"name": "[parameters('factoryName')]",
			"type": "Microsoft.DataFactory/factories",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": [],
			"location": "[parameters('dataFactory_location')]",
			"identity": {
				"type": "[parameters('dataFactory_identity_type')]"
			}
		}
	]
}