MC2Factory/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "MC2Factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MaestroMonedasToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroMonedasToSnowflake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_MONEDAS"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-dev-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "mc2_monedas",
											"type": "String"
										},
										"sink": {
											"name": "mc2_monedas",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_monedasid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_monedasid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroMonedas",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_MONEDAS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaestroNaturalezaUtmToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroNaturalezaUtmToSnowflake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_NATURALEZA_UTM"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-dev-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_naturaleza",
											"type": "String"
										},
										"sink": {
											"name": "mc2_naturaleza",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_key",
											"type": "String"
										},
										"sink": {
											"name": "mc2_key",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_naturaleza_utmid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_naturaleza_utmid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroNaturalezaUtm",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_NATURALEZA_UTM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaestroPerfilPresupuestoToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroPerfilPresupuestoToSnowflake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_PERFIL_PRESUPUESTO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-dev-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfil",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfil",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfil_presupuesto_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfil_presupuesto_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_perfil_presupuestoid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_perfil_presupuestoid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfil_presupuesto_codigo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfil_presupuesto_codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfilname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfilname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroPerfilPresupuesto",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_PERFIL_PRESUPUESTO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaestroPerfilToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroPerfilToSnowflake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_PERFIL"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-dev-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfil_prog_pep_codigo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfil_prog_pep_codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfil_prog_pep_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfil_prog_pep_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfil_proyecto_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfil_proyecto_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfil_proyecto_codigo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfil_proyecto_codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_perfilid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_perfilid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfil_plan_codigo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfil_plan_codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfil_plan_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfil_plan_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroPerfil",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_PERFIL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaestroPlanificacionToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroPlanificacionToSnowflake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_PLANIFICACION"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-dev-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "mc2_maestro_planificacionid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_planificacionid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_recurso",
											"type": "String"
										},
										"sink": {
											"name": "mc2_recurso",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroPlanificacion",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_PLANIFICANION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ManestroAmbitoToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroAmbitoToSnowflake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_AMBITO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-dev-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_ambitoid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_ambitoid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_ambito",
											"type": "String"
										},
										"sink": {
											"name": "mc2_ambito",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroAmbito",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_AMBITO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MestroEstadoPedidoToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroEstadoPedidoToSnowflake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-dev-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_ESTADO_PEDIDO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-dev-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "mc2_estado",
											"type": "String"
										},
										"sink": {
											"name": "mc2_estado",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_estado_pedidoid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_estado_pedidoid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMestroEstadoPedido",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_Maestro_Estado_Pedido",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyMaestrasToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MaestroAmbitoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ManestroAmbitoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroBloqueToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroBloqueToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroCebeToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroCebeToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroCecoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroCecoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroClienteFacturacionToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroClienteFacturacionToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroClienteGestionToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroClienteGestionToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroCosteToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroCosteToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroCostesFormulaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroCostesFormulaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroEstadoComprasToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroEstadoComprasToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MestroEstadoPedidoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MestroEstadoPedidoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroFamiliaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroFamiliaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroJefeDeProyectoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroJefeDeProyectoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroLineaPepToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroLineaPepToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroMonedasToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroMonedasToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroNaturalezaUtmToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroNaturalezaUtmToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroPerfilToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroPerfilToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroPerfilPresupuestoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroPerfilPresupuestoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ManestroAmbitoToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MestroEstadoPedidoToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroMonedasToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroNaturalezaUtmToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroPerfilToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroPerfilPresupuestoToSnowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPrincipalesToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ComentariosProyectoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ComentariosProyectoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ElementoPEPToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ElementoPEPToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyPrincipalesSnowflake"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestrasToBronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyMaestrasToBronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"cw_items_Maestras": {
									"value": "@pipeline().parameters.cw_items_Maestras",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyPrincipalesToBronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyPrincipalesToBronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"cw_items_Principales": {
									"value": "@pipeline().parameters.cw_items_Principales",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyBronceToSilver",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyMaestrasToBronce",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyPrincipalesToBronce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyBronceToSilver",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopySilverToGolden",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyBronceToSilver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopySilverToGolden",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyPrincipalesToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopySilverToGolden",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyPrincipalesToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyMaestrasToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopySilverToGolden",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyMaestrasToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_items_Maestras": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"entityName": "mc2_maestro_ceco"
								},
								"destination": {
									"fileName": "mc2_maestro_ceco.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_perfil"
								},
								"destination": {
									"fileName": "mc2_maestro_perfil.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_sociedad"
								},
								"destination": {
									"fileName": "mc2_maestro_sociedad.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_tramitador"
								},
								"destination": {
									"fileName": "mc2_maestro_tramitador.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_ambito"
								},
								"destination": {
									"fileName": "mc2_maestro_ambito.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_bloque"
								},
								"destination": {
									"fileName": "mc2_maestro_bloque.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cebe"
								},
								"destination": {
									"fileName": "mc2_maestro_cebe.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cliente_facturacion"
								},
								"destination": {
									"fileName": "mc2_maestro_cliente_facturacion.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_cliente_gestion"
								},
								"destination": {
									"fileName": "mc2_maestro_cliente_gestion.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_coste"
								},
								"destination": {
									"fileName": "mc2_maestro_coste.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_costes_formula"
								},
								"destination": {
									"fileName": "mc2_maestro_costes_formula.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_estado_compras"
								},
								"destination": {
									"fileName": "mc2_maestro_estado_compras.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_estado_pedido"
								},
								"destination": {
									"fileName": "mc2_maestro_estado_pedido.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_familia"
								},
								"destination": {
									"fileName": "mc2_maestro_familia.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_fase"
								},
								"destination": {
									"fileName": "mc2_maestro_fase.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_jefe_de_proyecto"
								},
								"destination": {
									"fileName": "mc2_maestro_jefe_de_proyecto.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_lineapep"
								},
								"destination": {
									"fileName": "mc2_maestro_lineapep.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_monedas"
								},
								"destination": {
									"fileName": "mc2_maestro_monedas.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_naturaleza_utm"
								},
								"destination": {
									"fileName": "mc2_maestro_naturaleza_utm.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_perfil_presupuesto"
								},
								"destination": {
									"fileName": "mc2_maestro_perfil_presupuesto.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_planificacion"
								},
								"destination": {
									"fileName": "mc2_maestro_planificacion.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_plazo_utm"
								},
								"destination": {
									"fileName": "mc2_maestro_plazo_utm.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_prioridad"
								},
								"destination": {
									"fileName": "mc2_maestro_prioridad.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_producto"
								},
								"destination": {
									"fileName": "mc2_maestro_producto.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_maestro_tipificacion"
								},
								"destination": {
									"fileName": "mc2_maestro_tipificacion.parquet"
								}
							}
						]
					},
					"cw_items_Principales": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"entityName": "mc2_comentarios_proyecto"
								},
								"destination": {
									"fileName": "mc2_comentarios_proyecto.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_elemento_pep"
								},
								"destination": {
									"fileName": "mc2_elemento_pep.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_lineas_adquira"
								},
								"destination": {
									"fileName": "mc2_lineas_adquira.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_pedido"
								},
								"destination": {
									"fileName": "mc2_pedido.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_planificacion"
								},
								"destination": {
									"fileName": "mc2_planificacion.parquet"
								}
							},
							{
								"source": {
									"entityName": "mc2_proyecto"
								},
								"destination": {
									"fileName": "mc2_proyecto.parquet"
								}
							}
						]
					}
				},
				"folder": {
					"name": "Main"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyPrincipalesToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/CopyMaestrasToSnowflake')]"
			]
		}
	]
}