adf-mc2dl-pro/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-mc2dl-pro"
		},
		"TablasTrigger_properties_main_parameters_cw_items_Maestras": {
			"type": "array",
			"defaultValue": [
				{
					"destination": {
						"fileName": "mc2_maestro_ceco.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_ceco"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_perfil.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_perfil"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_sociedad.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_sociedad"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_tramitador.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_tramitador"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_ambito.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_ambito"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_bloque.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_bloque"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_cebe.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_cebe"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_cliente_facturacion.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_cliente_facturacion"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_cliente_gestion.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_cliente_gestion"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_coste.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_coste"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_costes_formula.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_costes_formula"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_estado_compras.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_estado_compras"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_estado_pedido.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_estado_pedido"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_familia.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_familia"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_jefe_de_proyecto.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_jefe_de_proyecto"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_lineapep.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_lineapep"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_monedas.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_monedas"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_naturaleza_utm.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_naturaleza_utm"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_perfil_presupuesto.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_perfil_presupuesto"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_planificacion.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_planificacion"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_plazo_utm.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_plazo_utm"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_prioridad.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_prioridad"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_producto.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_producto"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_tipificacion.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_tipificacion"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestrocodigoproyecto.parquet"
					},
					"source": {
						"entityName": "mc2_maestrocodigoproyecto"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_fase.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_fase"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_tipo_facturacion.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_tipo_facturacion"
					}
				},
				{
					"destination": {
						"fileName": "mc2_maestro_estado_venta.parquet"
					},
					"source": {
						"entityName": "mc2_maestro_estado_venta"
					}
				}
			]
		},
		"TablasTrigger_properties_main_parameters_cw_items_MaestrasE3": {
			"type": "array",
			"defaultValue": [
				{
					"destination": {
						"fileName": "e3c_maestro_compra_area_funcional.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_area_funcional"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_ariba.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_ariba"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_categoria.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_categoria"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_ceco.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_ceco"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_centro_gestor.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_centro_gestor"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_contrato.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_contrato"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_estado_cesta_derivada.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_estado_cesta_derivada"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_estado_cesta_ordinaria.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_estado_cesta_ordinaria"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_gasto_inversion.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_gasto_inversion"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_grupo_compras.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_grupo_compras"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_moneda.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_moneda"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_org_compras.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_org_compras"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_sociedad.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_sociedad"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_tipo_facturacion.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_tipo_facturacion"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_tipo_imputacion.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_tipo_imputacion"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_posicion_contrato.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_posicion_contrato"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_revisor_exp.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_revisor_exp"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_usuario_solicitante_ord.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_usuario_solicitante_ord"
					}
				},
				{
					"destination": {
						"fileName": "e3c_maestro_compra_dest_mercancias.parquet"
					},
					"source": {
						"entityName": "e3c_maestro_compra_dest_mercancias"
					}
				}
			]
		},
		"TablasTrigger_properties_main_parameters_cw_items_Principales": {
			"type": "array",
			"defaultValue": [
				{
					"destination": {
						"fileName": "mc2_comentarios_proyecto.parquet"
					},
					"source": {
						"entityName": "mc2_comentarios_proyecto"
					}
				},
				{
					"destination": {
						"fileName": "mc2_elemento_pep.parquet"
					},
					"source": {
						"entityName": "mc2_elemento_pep"
					}
				},
				{
					"destination": {
						"fileName": "mc2_lineas_adquira.parquet"
					},
					"source": {
						"entityName": "mc2_lineas_adquira"
					}
				},
				{
					"destination": {
						"fileName": "mc2_pedido.parquet"
					},
					"source": {
						"entityName": "mc2_pedido"
					}
				},
				{
					"destination": {
						"fileName": "mc2_planificacion.parquet"
					},
					"source": {
						"entityName": "mc2_planificacion"
					}
				},
				{
					"destination": {
						"fileName": "mc2_proyecto.parquet"
					},
					"source": {
						"entityName": "mc2_proyecto"
					}
				}
			]
		},
		"TablasTrigger_properties_main_parameters_cw_items_PrincipalesE3": {
			"type": "array",
			"defaultValue": [
				{
					"destination": {
						"fileName": "e3c_cestas.parquet"
					},
					"source": {
						"entityName": "e3c_cestas"
					}
				},
				{
					"destination": {
						"fileName": "e3c_lineas_cesta.parquet"
					},
					"source": {
						"entityName": "e3c_lineas_cesta"
					}
				}
			]
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MaestroPlazoUtmToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroPlazoUtmToSnowflake",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_PLAZO_UTM"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_MAESTRO_PLAZO_UTM\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_plazo_utmid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_plazo_utmid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_key",
											"type": "String"
										},
										"sink": {
											"name": "mc2_key",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_pazo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_pazo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroPlazoUtm",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_PLAZO_UTM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaestroPrioridadToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroPrioridadToSnowflake",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_PRIORIDAD"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_MAESTRO_PRIORIDAD\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_prioridad",
											"type": "String"
										},
										"sink": {
											"name": "mc2_prioridad",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_prioridadid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_prioridadid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_nivel",
											"type": "String"
										},
										"sink": {
											"name": "mc2_nivel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroPrioridad",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_PRIORIDAD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaestroProductoToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroProductoToSnowflake",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_PRODUCTO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_MAESTRO_PRODUCTO\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_familianame",
											"type": "String"
										},
										"sink": {
											"name": "mc2_familianame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_productoid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_productoid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_familia",
											"type": "String"
										},
										"sink": {
											"name": "mc2_familia",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_id_producto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_id_producto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_producto_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_producto_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cebe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cebe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroProducto",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_PRODUCTO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaestroSociedadToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy MaestroSociedadToSnowflake",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_SOCIEDAD"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_MAESTRO_SOCIEDAD\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "mc2_maestro_sociedadid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_sociedadid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_sociedad_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_sociedad_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_centro_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_centro_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_calendario_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_calendario_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_centro_codigo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_centro_codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_sociedad_codigo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_sociedad_codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_calendario_codigo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_calendario_codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroSociedad",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_SOCIEDAD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:14:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaestroTipificacionToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroTipificacionToSnowflake",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_TIPIFICACION"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_MAESTRO_TIPIFICACION\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "mc2_codigo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_codigo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_tipificacionid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_tipificacionid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_denominacion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_denominacion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroTipificacion",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_TIPIFICACION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaestroTipoFacturacionToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroTipoFacturacionToSnowflake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_TIPO_FACTURACION"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_MAESTRO_TIPO_FACTURACION\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_tipo_facturacionid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_tipo_facturacionid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_tipo",
											"type": "Int32"
										},
										"sink": {
											"name": "mc2_tipo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroTipoFacturacion",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_TIPO_FACTURACION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaestroTramitadorToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroTramitadorToSnowflake",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_TRAMITADOR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_MAESTRO_TRAMITADOR\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_correo_electronico",
											"type": "String"
										},
										"sink": {
											"name": "mc2_correo_electronico",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_tramitadorid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_tramitadorid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_iniciales",
											"type": "String"
										},
										"sink": {
											"name": "mc2_iniciales",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_nombre_apellidos",
											"type": "String"
										},
										"sink": {
											"name": "mc2_nombre_apellidos",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroTramitador",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_TRAMITADOR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ManestroAmbitoToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestroAmbitoToSnowflake",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_MAESTRO_AMBITO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_MAESTRO_AMBITO\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_maestro_ambitoid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_maestro_ambitoid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_ambito",
											"type": "String"
										},
										"sink": {
											"name": "mc2_ambito",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceMaestroAmbito",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_MAESTRO_AMBITO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake/Maestras"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PedidoToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyPedidoToSnowflake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_PEDIDO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_PEDIDO\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "mc2_cliente_facturacion_nombre_pe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_facturacion_nombre_pe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_estado_compraname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_estado_compraname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_imputacion_pe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_imputacion_pe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_secuencia_producto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_secuencia_producto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_tramitadorname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_tramitadorname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_solpes",
											"type": "String"
										},
										"sink": {
											"name": "mc2_solpes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cliente_gestion_cif_pe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_gestion_cif_pe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_comentario_adquira",
											"type": "String"
										},
										"sink": {
											"name": "mc2_comentario_adquira",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_estado_pedidoname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_estado_pedidoname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_sap",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha_sap",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_id_proyecto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_id_proyecto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_importe_compra_pe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_importe_compra_pe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_moneda_compra_pe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_moneda_compra_pe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_ap_pedido",
											"type": "String"
										},
										"sink": {
											"name": "mc2_ap_pedido",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_escalado",
											"type": "Boolean"
										},
										"sink": {
											"name": "mc2_escalado",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "mc2_moneda_pedidoname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_moneda_pedidoname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_sa_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_sa_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cliente_facturacion_nif_pe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_facturacion_nif_pe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cliente_gestion_nombre_pe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_gestion_nombre_pe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_numero_pedido",
											"type": "String"
										},
										"sink": {
											"name": "mc2_numero_pedido",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_padre",
											"type": "String"
										},
										"sink": {
											"name": "mc2_padre",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_peticionario",
											"type": "String"
										},
										"sink": {
											"name": "mc2_peticionario",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_proveedor_pe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_proveedor_pe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_producto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_producto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_productoname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_productoname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_servicio_comercial_tsol",
											"type": "String"
										},
										"sink": {
											"name": "mc2_servicio_comercial_tsol",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_comentarios",
											"type": "String"
										},
										"sink": {
											"name": "mc2_comentarios",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_id_proyectoname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_id_proyectoname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_jdp_pedido",
											"type": "String"
										},
										"sink": {
											"name": "mc2_jdp_pedido",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_tramitador",
											"type": "String"
										},
										"sink": {
											"name": "mc2_tramitador",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_ap_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_ap_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_codigo_proyecto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_codigo_proyecto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_comentario_tsol",
											"type": "String"
										},
										"sink": {
											"name": "mc2_comentario_tsol",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_contrato_pe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_contrato_pe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_inicio_sa_pedido",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha_inicio_sa_pedido",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_tipo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_tipo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_importe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_importe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_moneda_pedido",
											"type": "String"
										},
										"sink": {
											"name": "mc2_moneda_pedido",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_fin_sa_pedido",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha_fin_sa_pedido",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_inicio_ap_pedido",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha_inicio_ap_pedido",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_margen",
											"type": "String"
										},
										"sink": {
											"name": "mc2_margen",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_coste_pedido",
											"type": "String"
										},
										"sink": {
											"name": "mc2_coste_pedido",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_estado_pedido",
											"type": "String"
										},
										"sink": {
											"name": "mc2_estado_pedido",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_fin_ap_ultimodia",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha_fin_ap_ultimodia",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_informacion_proveedor_pe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_informacion_proveedor_pe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_pedidoid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_pedidoid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cebe",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cebe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_fin_ap_pedido",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha_fin_ap_pedido",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_responsable_tsol",
											"type": "String"
										},
										"sink": {
											"name": "mc2_responsable_tsol",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_solicitar_compra",
											"type": "Boolean"
										},
										"sink": {
											"name": "mc2_solicitar_compra",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_estado_compra",
											"type": "String"
										},
										"sink": {
											"name": "mc2_estado_compra",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_jdp_pedidoname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_jdp_pedidoname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_moneda_compra_pename",
											"type": "String"
										},
										"sink": {
											"name": "mc2_moneda_compra_pename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_url_carpeta_sharepoint",
											"type": "String"
										},
										"sink": {
											"name": "mc2_url_carpeta_sharepoint",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_sa",
											"type": "String"
										},
										"sink": {
											"name": "mc2_sa",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_inicio_ap_primerdia",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha_inicio_ap_primerdia",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourcePedido",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_PEDIDO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyPrincipalesSnowflake/Principales"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PlanificacionToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyPlanificacionToSnowflake",
						"description": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_PLANIFICACION\";",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_PLANIFICACION"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_DEV\".\"PUBLIC\".\"MC2_PLANIFICACION\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_inicio_ap",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha_inicio_ap",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_id_proyecto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_id_proyecto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_plan_costes",
											"type": "String"
										},
										"sink": {
											"name": "mc2_plan_costes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_plan_ingresos",
											"type": "String"
										},
										"sink": {
											"name": "mc2_plan_ingresos",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_moneda",
											"type": "String"
										},
										"sink": {
											"name": "mc2_moneda",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_fin_ap",
											"type": "String"
										},
										"sink": {
											"name": "mc2_fecha_fin_ap",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_id_pedido",
											"type": "String"
										},
										"sink": {
											"name": "mc2_id_pedido",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_descripcion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_descripcion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_planificacionid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_planificacionid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_recurso",
											"type": "String"
										},
										"sink": {
											"name": "mc2_recurso",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_elemento_pep",
											"type": "String"
										},
										"sink": {
											"name": "mc2_elemento_pep",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_name",
											"type": "String"
										},
										"sink": {
											"name": "mc2_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourcePlanificacion",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_PLANIFICACION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyPrincipalesSnowflake/Principales"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProyectoToSnoflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyProyectoToSnoflake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mc2-bs-golden/[object Object]/[object Object]"
							},
							{
								"name": "Destination",
								"value": "PUBLIC.MC2_PROYECTO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"preCopyScript": "TRUNCATE TABLE \"MC2_PROD\".\"PUBLIC\".\"MC2_PROYECTO\";",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorageForSnowflake",
									"type": "LinkedServiceReference"
								},
								"path": "mc2-bs-golden/StoragePath"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "mc2_cliente_gestion_nombre_pr",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_gestion_nombre_pr",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_proyectoid",
											"type": "String"
										},
										"sink": {
											"name": "mc2_proyectoid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_tipificacionname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_tipificacionname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "String"
										},
										"sink": {
											"name": "owninguser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "statecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cliente_facturacion_nombre_pr",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_facturacion_nombre_pr",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "String"
										},
										"sink": {
											"name": "createdby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_despcripcion_proyecto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_despcripcion_proyecto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"name": "utcconversiontimezonecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "importsequencenumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_fin_ap_proyecto",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha_fin_ap_proyecto",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_importe_total",
											"type": "Decimal"
										},
										"sink": {
											"name": "mc2_importe_total",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_margen_total",
											"type": "String"
										},
										"sink": {
											"name": "mc2_margen_total",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_sociedadname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_sociedadname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_fecha_inicio_ap_proyecto",
											"type": "DateTime"
										},
										"sink": {
											"name": "mc2_fecha_inicio_ap_proyecto",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "mc2_perfil",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfil",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_texto_explicativo",
											"type": "String"
										},
										"sink": {
											"name": "mc2_texto_explicativo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"name": "owneridname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cliente_gestion_id_prname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_gestion_id_prname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_sociedad",
											"type": "String"
										},
										"sink": {
											"name": "mc2_sociedad",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "statuscode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"name": "owningbusinessunitname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cliente_facturacion_id_pr",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_facturacion_id_pr",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cliente_facturacion_id_prname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_facturacion_id_prname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cliente_gestion_id_pr",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_gestion_id_pr",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_moneda_proyecto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_moneda_proyecto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_moneda_proyectoname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_moneda_proyectoname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_numero_pedidos",
											"type": "String"
										},
										"sink": {
											"name": "mc2_numero_pedidos",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"name": "owneridtype",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "String"
										},
										"sink": {
											"name": "ownerid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_ap_proyecto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_ap_proyecto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_codigo_proyecto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_codigo_proyecto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_tipificacion",
											"type": "String"
										},
										"sink": {
											"name": "mc2_tipificacion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "String"
										},
										"sink": {
											"name": "owningteam",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"name": "owneridyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "modifiedbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "timezoneruleversionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cliente_facturacion_cif_pr",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_facturacion_cif_pr",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_responsable_proyectoname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_responsable_proyectoname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "String"
										},
										"sink": {
											"name": "modifiedby",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_perfilname",
											"type": "String"
										},
										"sink": {
											"name": "mc2_perfilname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_cliente_gestion_cif_pr",
											"type": "String"
										},
										"sink": {
											"name": "mc2_cliente_gestion_cif_pr",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mc2_responsable_proyecto",
											"type": "String"
										},
										"sink": {
											"name": "mc2_responsable_proyecto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifiedon",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"name": "versionnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceProyectoToSnoflake",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Snowflake_MC2_PROYECTO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyPrincipalesSnowflake/Principales"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyMaestrasE3ToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "E3CMaestroCompraAreaFuncionalToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "E3CMaestroCompraAreaFuncionalToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "E3CMaestroCompraAribaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "E3CMaestroCompraAribaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraCategoriaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraCategoriaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraCecoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraCecoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraCentroGestorToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraCentroGestorToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraContratoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraContratoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraEstadoCestaOrdinariaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraEstadoCestaOrdinariaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraGastoInversion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraGastoInversion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraGrupoCompras",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraGrupoCompras",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraMonedaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraMonedaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraSociedadToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraSociedadToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraTipoFacturacionToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraTipoFacturacionToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraPosicionContratoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraPosicionContratoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraRevisorExpToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraRevisorExpToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraUsuarioSolicitanteOrdToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraUsuarioSolicitanteOrdToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraDestMercanciasToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraDestMercanciasToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraOrgComprasToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraOrgComprasToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraEstadoCestaDerivadaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraEstadoCestaDerivadaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EC3MaestroCompraTipoImputacionToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EC3MaestroCompraTipoImputacionToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:14:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyMaestrasToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MaestroAmbitoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ManestroAmbitoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroBloqueToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroBloqueToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroCebeToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroCebeToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroCecoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroCecoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroClienteFacturacionToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroClienteFacturacionToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroClienteGestionToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroClienteGestionToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroCosteToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroCosteToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroCostesFormulaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroCostesFormulaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroEstadoComprasToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroEstadoComprasToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MestroEstadoPedidoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroEstadoPedidoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroFamiliaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroFamiliaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroJefeDeProyectoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroJefeDeProyectoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroLineaPepToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroLineaPepToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroMonedasToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroMonedasToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroNaturalezaUtmToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroNaturalezaUtmToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroPerfilToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroPerfilToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroPerfilPresupuestoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroPerfilPresupuestoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroPlazoUtmToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroPlazoUtmToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroPrioridadToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroPrioridadToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroProductoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroProductoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroSociedadToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroSociedadToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroTipificacionToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroTipificacionToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroTramitadorToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroTramitadorToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroCodigoProyectoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroCodigoProyectoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroPlanificacionToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroPlanificacionToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroEstadoVentaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroEstadoVentaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroFaseToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroFaseToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MaestroTipoFacturacionToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaestroTipoFacturacionToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyMaestrasToSnowflake"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:14:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ManestroAmbitoToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroPlazoUtmToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroPrioridadToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroProductoToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroSociedadToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroTipificacionToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroTramitadorToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/MaestroTipoFacturacionToSnowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPrincipalesE3ToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "e3c_cestasToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "E3c_CestasToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "e3c_lineasCestaToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Ec3LineasCestaToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyPrincipalesSnowflake"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPrincipalesToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ComentariosProyectoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ComentariosProyectoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ElementoPEPToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ElementoPEPToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PedidoToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PedidoToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PlanificacionToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PlanificacionToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ProyectoToSnoflake",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProyectoToSnoflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Main/Sources/CopyToSnowfake/CopyPrincipalesSnowflake"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:13:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PedidoToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/PlanificacionToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/ProyectoToSnoflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMaestrasToBronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyMaestrasToBronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"cw_items_Maestras": {
									"value": "@pipeline().parameters.cw_items_Maestras",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyPrincipalesToBronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyPrincipalesToBronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"cw_items_Principales": {
									"value": "@pipeline().parameters.cw_items_Principales",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyBronceToSilver",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyMaestrasToBronce",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyPrincipalesToBronce",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyMaestrasE3ToBronce",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyPrincipalesE3ToBronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyBronceToSilver",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopySilverToGolden",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyBronceToSilver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopySilverToGolden",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyPrincipalesToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopySilverToGolden",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyPrincipalesToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyMaestrasToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopySilverToGolden",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyMaestrasToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyMaestrasE3ToBronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyMaestrasE3ToBronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"cw_items_MaestrasE3": {
									"value": "@pipeline().parameters.cw_items_MaestrasE3",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyPrincipalesE3ToBronze",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyPrincipalesE3ToBronze",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"cw_items_PrincipalesE3": {
									"value": "@pipeline().parameters.cw_items_PrincipalesE3",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyPrincipalesE3ToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopySilverToGolden",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyPrincipalesE3ToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyMaestrasE3ToSnowflake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopySilverToGolden",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyMaestrasE3ToSnowflake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_items_Maestras": {
						"type": "array",
						"defaultValue": [
							{
								"destination": {
									"fileName": "mc2_maestro_ceco.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_ceco"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_perfil.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_perfil"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_sociedad.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_sociedad"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_tramitador.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_tramitador"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_ambito.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_ambito"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_bloque.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_bloque"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_cebe.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_cebe"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_cliente_facturacion.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_cliente_facturacion"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_cliente_gestion.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_cliente_gestion"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_coste.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_coste"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_costes_formula.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_costes_formula"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_estado_compras.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_estado_compras"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_estado_pedido.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_estado_pedido"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_familia.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_familia"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_jefe_de_proyecto.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_jefe_de_proyecto"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_lineapep.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_lineapep"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_monedas.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_monedas"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_naturaleza_utm.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_naturaleza_utm"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_perfil_presupuesto.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_perfil_presupuesto"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_planificacion.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_planificacion"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_plazo_utm.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_plazo_utm"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_prioridad.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_prioridad"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_producto.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_producto"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_tipificacion.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_tipificacion"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestrocodigoproyecto.parquet"
								},
								"source": {
									"entityName": "mc2_maestrocodigoproyecto"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_fase.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_fase"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_tipo_facturacion.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_tipo_facturacion"
								}
							},
							{
								"destination": {
									"fileName": "mc2_maestro_estado_venta.parquet"
								},
								"source": {
									"entityName": "mc2_maestro_estado_venta"
								}
							}
						]
					},
					"cw_items_MaestrasE3": {
						"type": "array",
						"defaultValue": [
							{
								"destination": {
									"fileName": "e3c_maestro_compra_area_funcional.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_area_funcional"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_ariba.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_ariba"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_categoria.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_categoria"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_ceco.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_ceco"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_centro_gestor.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_centro_gestor"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_contrato.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_contrato"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_estado_cesta_derivada.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_estado_cesta_derivada"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_estado_cesta_ordinaria.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_estado_cesta_ordinaria"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_gasto_inversion.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_gasto_inversion"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_grupo_compras.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_grupo_compras"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_moneda.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_moneda"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_org_compras.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_org_compras"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_sociedad.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_sociedad"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_tipo_facturacion.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_tipo_facturacion"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_tipo_imputacion.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_tipo_imputacion"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_posicion_contrato.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_posicion_contrato"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_revisor_exp.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_revisor_exp"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_usuario_solicitante_ord.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_usuario_solicitante_ord"
								}
							},
							{
								"destination": {
									"fileName": "e3c_maestro_compra_dest_mercancias.parquet"
								},
								"source": {
									"entityName": "e3c_maestro_compra_dest_mercancias"
								}
							}
						]
					},
					"cw_items_Principales": {
						"type": "array",
						"defaultValue": [
							{
								"destination": {
									"fileName": "mc2_comentarios_proyecto.parquet"
								},
								"source": {
									"entityName": "mc2_comentarios_proyecto"
								}
							},
							{
								"destination": {
									"fileName": "mc2_elemento_pep.parquet"
								},
								"source": {
									"entityName": "mc2_elemento_pep"
								}
							},
							{
								"destination": {
									"fileName": "mc2_lineas_adquira.parquet"
								},
								"source": {
									"entityName": "mc2_lineas_adquira"
								}
							},
							{
								"destination": {
									"fileName": "mc2_pedido.parquet"
								},
								"source": {
									"entityName": "mc2_pedido"
								}
							},
							{
								"destination": {
									"fileName": "mc2_planificacion.parquet"
								},
								"source": {
									"entityName": "mc2_planificacion"
								}
							},
							{
								"destination": {
									"fileName": "mc2_proyecto.parquet"
								},
								"source": {
									"entityName": "mc2_proyecto"
								}
							}
						]
					},
					"cw_items_PrincipalesE3": {
						"type": "array",
						"defaultValue": [
							{
								"destination": {
									"fileName": "e3c_cestas.parquet"
								},
								"source": {
									"entityName": "e3c_cestas"
								}
							},
							{
								"destination": {
									"fileName": "e3c_lineas_cesta.parquet"
								},
								"source": {
									"entityName": "e3c_lineas_cesta"
								}
							}
						]
					}
				},
				"folder": {
					"name": "Main"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T12:14:23Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyPrincipalesToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/CopyMaestrasToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPrincipalesE3ToSnowflake')]",
				"[concat(variables('factoryId'), '/pipelines/CopyMaestrasE3ToSnowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TablasTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyMaestrasToBronce",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "main",
							"type": "PipelineReference"
						},
						"parameters": {
							"cw_items_Maestras": "[parameters('TablasTrigger_properties_main_parameters_cw_items_Maestras')]",
							"cw_items_MaestrasE3": "[parameters('TablasTrigger_properties_main_parameters_cw_items_MaestrasE3')]",
							"cw_items_Principales": "[parameters('TablasTrigger_properties_main_parameters_cw_items_Principales')]",
							"cw_items_PrincipalesE3": "[parameters('TablasTrigger_properties_main_parameters_cw_items_PrincipalesE3')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2021-10-29T03:00:00",
						"timeZone": "Romance Standard Time",
						"schedule": {
							"weekDays": [
								"Monday",
								"Tuesday",
								"Wednesday",
								"Thursday",
								"Friday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/main')]"
			]
		}
	]
}